/first_blood/nbproject/private/
/first_blood/build/
/monkeyblaster/nbproject/private/
/monkeyblaster/build/
/monkeyblaster/dist/
/jSpaceInvaders/nbproject/private/
/jSpaceInvaders/build/
/jSpaceInvaders/dist/
/jSpaceInvaders_Server/nbproject/private/
/jSpaceInvaders_Server/build/
/jSpaceInvaders_Server/dist/